.social-login {
  display: flex;
  width: 100%;
  border-top: 1px solid black;
  padding-top: 20px;
  margin-top: 10px;
}

.social__btn-github {
  background-color: #24883b;
  border-radius: 5px;
  font-size: 18px;

  padding: 6px 20px;
  i {
    font-size: 20px;
  }
}
