// video mixin
.video__mixin,
.video__watch {
  .video-mixin__thumb {
    height: 140px;
    width: 100%;

    background-color: rgb(0, 0, 0);
  }
  .video-mixin__data {
    padding: 0px 15px;
    color: white;
    .video-mixin__title {
      font-size: 20px;
      display: block;
      margin-top: 15px;
    }
    .video-mixin__meta {
      display: flex;
      margin-top: 10px;
      font-size: 12px;
      justify-content: space-between;
    }
  }
}
.thumb-img {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
// video watch
.video__watch {
  .video-mixin__data {
    .video-mixin__title {
      font-size: 40px;
    }
    .video-mixin__meta {
      font-size: 20px;
      small {
        font-size: 14px;
        opacity: 0.6;
      }
      a {
        color: $yellow;
        border-bottom: 1px solid $yellow;
      }
    }
    .video-mixin__createdAt {
      padding-top: 10px;
      padding-bottom: 25px;
      font-size: 14px;
      border-bottom: 1px solid white;
    }
  }

  .video-function__box {
    padding-top: 20px;
    .video-function {
      color: $yellow;
      border-bottom: 1px solid $yellow;
      font-size: 20px;
    }
  }
}
