doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | #{siteName}
        link(rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body 
        header 
            h1=pageTitle                                  
        main
            nav
                ul
                    li 
                        a(href="/") Home    
                        li 
                            a(href="/search") Search
                    if loggedIn 
                        li 
                            a(href="/user/edit") Edit Profile
                        li 
                            a(href="/user/logout") Logout
                        li 
                            a(href=`/user/${loggedInUser.user._id}`) My Profile            
                        li
                            a(href="/video/upload") Upload Video      
                    else
                        li 
                            a(href="/join") Join
                        li 
                            a(href="/login") Login

            block content
            include partials/footer.pug
