extends base.pug

block content 
    div#upload-screen 
        video#preview
        button#startBtn Start Recording
    if errorMessage 
        span=errorMessage
    form(method="post", enctype="multipart/form-data")
        label.file-input-label(for="video") Video file
            input.file-input(type="file", accept="video/*", required, id="video", name="video")
        label.file-input-label(for="thumb") Thumbnail file
            input.file-input(type="file", accept="image/*", required, id="thumb", name="thumb")
        input(name="title", placeholder="Title", required, type="text" ,maxlength=80, value="title")
        input(name="description", placeholder="Description", required, type="text", maxlength=150, value="description")
        input(name="hashtags", placeholder="Hashtags, separated by comma.", required, type="text",value="hashtag")
        input(type="submit", value="Upload")

block scripts 
    script(src="/assets/js/recorder.js")